{% load sb_tags i18n %}

<table>
    <tbody>
    {% for field in form %}
        {% if not field|is_file_field and field.name != 'captcha' %}
            <tr>
                <td style="padding-right: 7px;">{{ field.label }}: </td> <td style="font-weight: bold;color: #4d4d4d;">{% include 'sb_form_base/email/_form_item.html' %}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

{% if has_file_field %}
    <p>{% trans 'The sent files are in the attachment in this letter.' %}</p>
{% endif %}