{% extends 'sb_form_base/email/base_email.html' %}
{% load sb_tags i18n %}

{% block header %}
    <p style="font-size: 23px;">{% trans 'Hello' %}{% if form.cleaned_data.name %}, {{ form.cleaned_data.name }}{% endif %}!</p>
    {{ mes|safe }}
    <p style="margin-top: 35px;">{% trans 'Filled data by you' %}:</p>
{% endblock %}

{% block content %}
    {% include 'sb_form_base/email/_form_data.html' %}

    <p style="margin-top: 35px;">{% trans 'Sincerely' %},<br/>{% company_name %}, <a href="{% get_domain %}" target="_blank" style="color: #4d4d4d; font-weight: bold;text-decoration: none;">{% get_site_name %}</a></p>
{% endblock %}

{% block signature %}
    <hr style="border-color: #fff;border-width: 1px 0 0 0;margin: 0 0 15px;" />
    <p>
        {% trans 'The letter came to this email address' %} <span style="font-weight: bold;">{{ form.cleaned_data.email }}</span>,
        {% trans 'since you indicated it in the form of feedback. If you did not do this, then ignore the letter' %}.
    </p>
{% endblock %}