{% extends 'sb_form_base/email/base_email.html' %}
{% load sb_tags i18n %}

{% block header %}
    <p style="font-size: 19px;">{% trans 'New message from form' %} "{{ form.title }}":</p>
{% endblock %}

{% block content %}
    {% include 'sb_form_base/email/_form_data.html' %}

    <p style="font-size: 13px;margin-bottom: -10px;margin-top: 30px;">{% trans 'Form was used by' %} {% if request.user.is_authenticated %}{% trans 'registered user' context 'ablative' %} "{{ request.user.get_full_name }}" ({{ request.user.username }}){% else %}{% trans 'unregistered user' context 'ablative' %}{% endif %}.</p>
    <p style="font-size: 13px;">{% trans 'Message came from page' %}: <a target="_blank" href="{{ request.META.HTTP_REFERER }}">{{ request.META.HTTP_REFERER }}</a></p>
{% endblock %}

{% block signature %}
    <p>{% company_name %}, <a href="{% get_domain %}" target="_blank" style="color: #4d4d4d; font-weight: bold;text-decoration: none;">{% get_site_name %}</a></p>
{% endblock %}