{% load sb_tags i18n%}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<head>
    <title>{% trans 'New message from site' %} {% get_site_name %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        @page {
            margin-top: 0.6cm;
            margin-left: 1.5cm;
            margin-bottom: 0.6cm;
            margin-right: 1.5cm;
        }

        @font-face {
            font-family: arial;
            font-size: 8pt;
            src: url(static/template/fonts/arial.ttf);
        }

        body{
            font-family: arial;
        }
    </style>
</head>
<body>

<h1>{% trans 'New message from site' %} {% get_site_name %}</h1>

<p>Форма "{{ form.title }}"</p>
<table>
    <tbody>
    {% for field in form %}
        {% if not field|is_file_field and field.name != 'captcha' %}
            <tr>
                <td style="font-weight: bold; padding-right: 5px;">{{ field.label }}: </td> <td>{% include 'sb_form_base/email/_form_item.html' %}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

{% if form|has_file_field %}
    <p>{% trans 'There is attachment files in letter' %}</p>
{% endif %}

</body>
</html>