{% load sekizai_tags sb_tags %}

{% addtoblock 'post_js_no_compress' %}
    <script>
        $(function(){
            var $form = $('#sb_form_{{ instance.id }}');
            var $fill_form = $('<div class="btn fill_form" style="margin: 10px 0;">Fill test data</div>');

            $form.prepend($fill_form);

            $fill_form.click(function(){
                $form.sb_form('fill_form', {
                    name: 'Test',
                    comment: 'Super comment',
                    email: 'artem@vits.pro',
                    phone: '89500000000'
                });
            });
        });
    </script>
{% endaddtoblock %}