{% load i18n %}

<script>
    var file_upload_lang = {
        you_try_to_load: '{% trans 'You try to load' %}',
        files_with_total_weight: '{% trans 'file(s) with total weight' %}',
        files: '{% trans 'file(s)' %}',
        with_total_weight: '{% trans 'with total weight' %}',
        of_which_are_already_downloaded: '{% trans 'of which are already downloaded' %}',
        limit_exceeded: '{% trans 'File attachment limit exceeded! The total number of files should not be more than' %}',
        and_total_weight: '{% trans 'and total weight' %}',
        files_selected: '{% trans 'Files selected' %}',
        total_size_of_files: '{% trans 'Total size of files' %}',
        waiting: '{% trans 'Waiting...' %}',
        release_mouse_btn: '{% trans 'Release the mouse button to load files' %}',
        add_file: '{% trans '<a>Add file</a> or drag files here' %}'
    };
</script>