{% load static sekizai_tags sb_tags i18n cms_tags sb_default_urls %}

{% addtoblock 'js' %}<script src="{% default_url 'jquery' %}"></script>{% endaddtoblock %}

{% addtoblock 'js' %}<script src="{{ STATIC_URL }}sb_core/js/sb_library.js"></script>{% endaddtoblock %}

{% addtoblock 'js' %}<script src="{{ STATIC_URL }}sb_form_base/js/uploaderObject.js"></script>{% endaddtoblock %}
{% addtoblock 'css' %}<link rel="stylesheet" href="{% static 'sb_form_base/css/sb_form_base.css' %}" />{% endaddtoblock %}
{% addtoblock 'js' %}{% include 'sb_form_base/sb_form_base_lang.html' %}{% endaddtoblock %}
{% addtoblock 'js' %}<script src="{{ STATIC_URL }}sb_form_base/js/sb_form_base.js"></script>{% endaddtoblock %}
{% addtoblock 'js' %}{% include 'form_uploader_lang.html' %}{% endaddtoblock %}
{% addtoblock 'js' %}<script src="{{ STATIC_URL }}sb_core/js/form_uploader.js"></script>{% endaddtoblock %}

{% block extra %}{% endblock %}

{% addtoblock 'post_js_no_compress' %}{% include 'csrf_token_ajax.html' %}{% endaddtoblock %}
{% addtoblock 'post_js_no_compress' %}
    <script>
        $(function(){
            $('#sb_form_{{ instance.id }}').sb_form({
                'is_send_sender': {{ instance.is_send_sender|bool_py_to_js }},
                'is_attach_file_with_letter': {{ instance.is_attach_file_with_letter|bool_py_to_js }},
                'show_form_after_sending': {{ instance.show_form_after_sending|bool_py_to_js }},
                'hide_children_after_sending': {{ instance.hide_children_after_sending|bool_py_to_js }}
            });
        });
    </script>
{% endaddtoblock %}

{% block test_data %}{% if debug %}{% include 'sb_form_base/_test_data.html' %}{% endif %}{% endblock %}


<div class="sb_form_c{% block extra_form_classes %}{% endblock %}">
    <form method="post" id="sb_form_{{ instance.id }}" class="sb_form"{% if has_file_field %} data-clean="False"{% endif %} data-prefix="{{ form.prefix }}" data-name="{{ form.value }}"
          data-send_letter_url="{% url 'send_letter' %}" data-clear_file_url="{% url 'clear_file' %}" data-save_file_url="{% url 'save_file' %}" data-csrf_token="{{ csrf_token }}">
        {% block form_content %}
            <div class="error_list error"></div>

            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

            {% block form_items %}
                {% for item in form.visible_fields %}
                    {% if item.name != 'file' %}
                        <div class="item_row field_{{ item.name }}{% if item.field.required %} required{% endif %}">
                            <div class="label_wr"><label for="id_{{ form.prefix }}-{{ item.name }}{% if item.name == 'captcha' %}_1{% endif %}">{{ item.label }}</label></div>
                            <div class="input_wr">
                                {% if item.name == 'captcha' %}
                                    {% addtoblock 'css' %}<link rel="stylesheet" href="{% default_url 'awesome' %}">{% endaddtoblock %}
                                    {% addtoblock 'css' %}<link rel="stylesheet" href="{{ STATIC_URL }}sb_form_base/css/captcha.css" />{% endaddtoblock %}
                                    {% addtoblock 'js' %}<script src="{{ STATIC_URL }}sb_form_base/js/captcha.js"></script>{% endaddtoblock %}

                                    <div class="input captcha_input" data-url="{% url 'captcha-refresh' %}">{{ item }} <i class="fa fa-refresh" title="{% trans 'Update image' %}"></i></div>

                                    {% addtoblock 'post_js_no_compress' %}
                                        <script>
                                            $(function(){
                                                $('#sb_form_{{ instance.id }}').captcha();
                                            });
                                        </script>
                                    {% endaddtoblock %}
                                {% else %}
                                    <div class="input">{{ item }}</div>
                                {% endif %}
                                <div class="error" id="err_{{ form.prefix }}-{{ item.name }}">{{ item.errors }}</div>
                            </div>
                        </div>
                    {% else %}
                        <div class="item_row field_{{ item.name }}">
                            <p>{% trans 'Attachments' %}</p>
                            <div class="drop_box">
                                <input type="file" multiple="true">
                                <span><a>{% trans 'Add file' %}</a> {% trans 'or move file here' %}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endblock %}

            {% if has_file_field %}
                {% block info_file_upload %}
                    {% addtoblock 'css' %}<link rel="stylesheet" href="{{ STATIC_URL }}fancyBox/source/jquery.fancybox.css" />{% endaddtoblock %}
                    {% addtoblock 'js' %}<script src="{{ STATIC_URL }}fancyBox/source/jquery.fancybox.pack.js"></script>{% endaddtoblock %}

                    {% addtoblock 'css' %}<link rel="stylesheet" href="{{ STATIC_URL }}sb_form_base/css/file_upload.css" />{% endaddtoblock %}
                    {% addtoblock 'css' %}<link rel="stylesheet" href="{{ STATIC_URL }}sb_core/css/file_icons.css" />{% endaddtoblock %}
                    {% addtoblock 'js' %}<script src="{{ STATIC_URL }}sb_core/js/ext.js"></script>{% endaddtoblock %}

                    <div class="info_c">
                        <div class="error_mes"></div>
                        <div class="files"></div>
                        <div class="total_info">
                            <p class="count"></p>
                            <p class="size"></p>
                        </div>
                    </div>

                    {% addtoblock 'css' %}<link rel="stylesheet" href="{% default_url 'awesome' %}">{% endaddtoblock %}
                    {% addtoblock 'js' %}{% include 'sb_form_base/file_upload_lang.html' %}{% endaddtoblock %}
                    {% addtoblock 'js' %}<script src="{{ STATIC_URL }}sb_form_base/js/file_upload.js"></script>{% endaddtoblock %}
                    {% addtoblock 'post_js_no_compress' %}
                        <script>
                            $(function(){
                                $('#sb_form_{{ instance.id }}').file_upload();
                            });
                        </script>
                    {% endaddtoblock %}
                {% endblock %}
            {% endif %}

            {% block send_button %}
                <div class="hint">{% trans 'Fields marked by star' %} ( * ) {% trans 'is required' %}.</div>

                <div class="btn_wr">
                    <input type="submit" name="send" class="btn submit" value="{% trans 'Send' %}" />
                </div>
            {% endblock %}
        {% endblock %}
    </form>

    <div class="ch">
        {% if instance.use_email_mes_for_template %}<div class="default">{{ instance.email_mes|safe }}</div>{% endif %}
        {% block fin %}{% if instance.child_plugin_instances %}<div class="fin">{% for plugin in instance.child_plugin_instances %}{% render_plugin plugin %}{% endfor %}</div>{% endif %}{% endblock %}
    </div>
</div>
