.sb_form .captcha_input {height: 32px;overflow: hidden;}
.sb_form input[id$=captcha_1] {float: left;margin-right: 10px;width: 100px; height: 100%;}
.sb_form .captcha {float: left;margin-right: 10px;cursor: pointer;}
.sb_form .fa-refresh {color: #999;font-size: 26px;text-decoration: none;padding-top: 3px;cursor: pointer;}
.sb_form .fa-refresh:hover {color: #656565;}