.sb_form .drop_box {border: 2px dashed rgba(1, 1, 1, 0.25);overflow: hidden;position: relative;text-align: center;cursor: pointer;height: 45px;background-color: #fff;display: table;width: 100%;box-sizing: border-box;}

.sb_form .drop_box input[type=file] {width:auto;font-size: 250px;opacity: 0;position: absolute;top: 0;right: 0;cursor: pointer;height: 100%;}
.sb_form .drop_box span {display: table-cell;vertical-align: middle;text-align: center;}

.sb_form .th_wr {width: 32px; height: 32px; overflow: hidden;display: block;float: left;margin-right: 8px;border-radius: 3px;}
.sb_form .th {width: 100%;height: 100%;background-size: cover;background-position: 50% 50%;background-repeat: no-repeat;}

.sb_form .file {margin: 8px 0;}
.sb_form .info {float: left;}
.sb_form .files .name {float: left;font-size: 15px;margin-right: 4px;}
.sb_form .files .clear {cursor: pointer;width: 24px;height: 20px;background: url(../images/clear.png) no-repeat;background-size: 50%;float: left;margin-top: -3px;}
.sb_form .files .fa {color: #535355;position: relative;font-size: 14px;top: -3px;cursor: pointer}
.sb_form .files .fa-times-circle {top: -5px;}

.sb_form .total_info {padding: 10px;margin-bottom: 8px;background-color:rgb(235, 235, 235);display: none;}
.sb_form .total_info p {margin: 0;font-size: 14px;line-height: 18px;}
.sb_form .error_mes {display: none;padding: 10px;color: #993300;font-size: 16px;}

.sb_form .progress {z-index: 0;position: relative;border-radius: 4px;margin-top: 1px;border: none; font-size: 14px;width: 150px;height: 18px;overflow: hidden;float: left;}
.sb_form .progress .title {position:relative; text-align: center;z-index: 2;padding: 2px}
.sb_form .progress .value {width: 0;background-color: #fff;height: inherit;top: 0;position: absolute;}

.sb_form .f_icon {float: left;}