.sb_form_c {
  max-width: 768px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.sb_form_c .ch .default {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.sb_form_c .ch .default, .sb_form_c .ch .fin {
  display: none;
}

.sb_form .btn_wr {
  margin-top: 15px;
  text-align: center;
}
.sb_form .item_row {
  overflow: hidden;
  margin-bottom: 10px;
}
.sb_form .item_row .label_wr, .sb_form .item_row .input_wr {
  float: left;
}
.sb_form .item_row .label_wr {
  width: 35%;
}
.sb_form .item_row .input_wr {
  width: 65%;
}
.sb_form .item_row label {
  padding-top: 6px;
  margin-bottom: 4px;
  cursor: pointer;
}
.sb_form .item_row.required label:after {
  content: " *";
  position: relative;
}
.sb_form input, .sb_form select, .sb_form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}
.sb_form input:focus, .sb_form select:focus, .sb_form textarea:focus {
  outline: 0;
}
.sb_form input:not([type=submit]), .sb_form select, .sb_form textarea {
  width: 100%;
  display: block;
  padding: 4px 12px;
  font-size: 14px;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #A9A9A9;
}
.sb_form input.error_field {
  border-color: #BE312E;
}
.sb_form .error {
  color: #BE312E;
  background-color: #f2dede;
  padding: 5px 10px;
  margin: 5px 0 15px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  font-size: 14px;
  display: none;
}
.sb_form .hint {
  font-size: 14px;
}
@media (max-width: 767px) {
  .sb_form .item_row .label_wr, .sb_form .item_row .input_wr {
    width: 100%;
    float: none;
  }
}

/*# sourceMappingURL=sb_form_base.css.map */
