.sb_form_c {
    max-width: 768px;margin-top: 20px;margin-bottom: 20px;
    .ch {
        .default {margin-top: 20px;margin-bottom: 20px;text-align: center;}
        .default, .fin {display: none;}
    }
}


.sb_form {
    .btn_wr {margin-top: 15px;text-align: center;}

    .item_row {
        overflow: hidden;margin-bottom:10px;
        .label_wr, .input_wr {float: left;}
        .label_wr {width: 35%;}
        .input_wr {width: 65%;}
        label {padding-top: 6px;margin-bottom: 4px;cursor: pointer}
        &.required label:after {content: ' *'; position: relative;}
    }

    input, select, textarea {
        -webkit-appearance: none;-moz-appearance: none;appearance: none;border-radius: 0;
        &:focus {outline: 0;}
    }

    input:not([type='submit']), select, textarea {width: 100%;display: block;padding: 4px 12px;font-size: 14px;box-sizing: border-box;vertical-align: middle;background-color: #fff;background-image: none;border: 1px solid #A9A9A9;}

    input.error_field {border-color: #BE312E;}
    .error {color: #BE312E;background-color: #f2dede;padding: 5px 10px;margin: 5px 0 15px;border: 1px solid #ebccd1;border-radius: 4px;font-size: 14px; display: none;}

    .hint {font-size: 14px;}

    @media (max-width: 767px) {
        .item_row {
            .label_wr, .input_wr {width: 100%;float: none}
        }
    }
}